:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --offer-tile-border-color: grey;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Payload JSON */

.urlDetails {
    margin: 20px 20px 0 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: lightblue;
}

.jsonContainerRequest {
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid black;
    background-color: ivory;
}

.jsonContainerRequest > pre {
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
}

.jsonContainerResponse {
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(215, 255, 230, 0.38);
}

.jsonContainerResponse > pre {
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
}

.payloadRequestResponseWrapper {
    margin: 20px 20px 0 20px;
}

/* Enum Dropdown spacing */

.enumList {
    margin-bottom: 15px;
}

/* Auth Header Control */

.bearer-token-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    background-color: #fff;
    border: 1px solid black;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.bearer-token-header.open {
    width: 100%;
    padding: 0;
}

.bearer-token-header-tab {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 8px 8px 8px 10px;
    text-align: center;
}

.bearer-token-header-open {
    padding: 10px;
}

/* Offer Tile */

.offerTileContainer {
    margin: 0 50px 0 50px;
}

.offerTile {
    border: 3px solid var(--offer-tile-border-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.4);
}

.offerTileRepExample {
    border-width: 0 3px 3px 3px;
    border-style: none solid solid solid;
    border-color: var(--offer-tile-border-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.4);
}

.offerTileColumnInnerPadding {
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
}

.offerTilePerMonth {
    border-top: unset;
}

.offerEmphasisedText {
    font-size: 24px;
    font-weight: bold;
}

.offerColumnVerticalMargin {
    margin-top: 15px;
}

.offerTileProductName {
    font-size: 18px;
    padding-top: 10px;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.flexColumn {
    flex: 1;
    min-width: 250px;
}

.flexColumnBorder {
    border-right: 3px solid var(--offer-tile-border-color);
}

.flexColumnBorderThird {
    border-right: 3px solid var(--offer-tile-border-color);
}

.flexColumnSplit {
    flex: 1;
}

.flexColumnSplitBorder {
    border: 2px solid var(--offer-tile-border-color);
}

@media screen and (max-width: 945px) {
    .offerTileContainer {
        margin: 0 20px 0 20px;
        x-background-color: yellow !important;
    }

    .offerTilePerMonth {
        border-top: unset;
    }

    .flexContainer {
        flex-direction: column;
    }

    .flexColumnBorder {
        border-right: unset;
        border-bottom: 3px solid var(--offer-tile-border-color);
    }

    .flexColumnBorderThird {
        border-right: unset;
    }

    .offerColumnVerticalMargin {
        margin-top: unset;
    }
}

@media screen and (min-width: 946px) and (max-width: 1105px) {
    .flexColumnBorderThird {
        border-right: unset !important;
    }
}

@media screen and (min-width: 1106px) and (max-width: 1257px) {
    .offerTilePerMonth {
        border-top: unset !important;
    }
}

@media screen and (max-width: 1257px) {
    .offerTileContainer {
        x-background-color: red;
    }

    .offerTilePerMonth {
        border-top: 3px solid var(--offer-tile-border-color);
    }
}

/* Progress Bar */

.container {
    background-color: pink;
}

.barCompleted {
    background-color: lightblue;
    width: 80%;
}