:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Payload JSON */

.jsonContainer {
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: ivory;
}

.jsonContainer > pre {
    text-align: left;
    white-space: pre-wrap;
}

/* Enum Dropdown spacing */

.enumList {
    margin-bottom: 15px;
}

/* Auth Header Control */

.bearer-token-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    background-color: #fff;
    border: 1px solid black;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.bearer-token-header.open {
    width: 100%;
    padding: 0;
}

.bearer-token-header-tab {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 8px 8px 8px 10px;
    text-align: center;
}

.bearer-token-header-open {
    padding: 10px;
}